<div class="container" style="background-color: darkslategray;">
<div class="row">
     <div class="col-md-6">
          <nav id="principal" class="menu">
               <a class="enlace" href="#">Unete a nosotros</a>
               <a class="enlace" href="#">Conviertete en Instructor</a>
               <a class="enlace" href="#">Participa en nuestros torneos</a>
               <a class="enlace" href="#">Soporte</a>
               <a class="enlace" href="#">Temas</a>
          </nav>
     </div>
     <div class="col-md-6">
          <nav id="secundaria" class="menu">
               <a class="enlace" href="#">¿Quienes Somos?</a>
               <a class="enlace" href="#">Beneficios</a>
               <a class="enlace" href="#">Blog</a>
          </nav>
     </div>
</div>
</div>
</div>
