<div class="container-fluid mt-2 mb-2">
    <div class="offset-xl-9 col-xl-3 col-md-12">
        <a type="button" class="btn btn-sm ml-5" id="login" href="/login">Iniciar sesión</a>
        <a type="button" class="btn btn-sm ml-3" id="registro" href="/registro">Registrarse</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row align-items-center p-5 m-1" id="encabezado">
        <div class="col-md-12">
            <h2 class="titulo text-center">Bienvenidos a Donkin' Donuts</h2>
        </div>
    </div>
</div>
