/*Estilos encabezado*/

@font-face {
    font-family: "Dunkin" ;
    src: url(../fonts/Dunkin.ttf);
}

@font-face {
    font-family: "Mat Saleh";
    src: url(../fonts/Mat\ Saleh.ttf);
}

@font-face {
    font-family: "Awesome";
    src: url(../fonts/Awesome.otf);
}

@font-face {
    font-family: "123";
    src: url(../fonts/123.otf);
}

@font-face {
    font-family: "big_noodle_titling";
    src: url(../fonts/big_noodle_titling.ttf);
}

@font-face {
    font-family: "Happy";
    src: url(../fonts/Happy.otf);
}

@font-face {
    font-family: "DirtyBrush";
    src: url(../fonts/DirtyBrush.ttf);
}

@font-face {
    font-family: "Oxygen-Bold";
    src: url(../fonts/Oxygen-Bold.ttf);
}

@font-face {
    font-family: "Oxygen-Light";
    src: url(../fonts/Oxygen-Light.ttf);
}

@font-face {
    font-family: "Oxygen-Regular";
    src: url(../fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: "FiraSans-BoldItalic";
    src: url(../fonts/FiraSans-BoldItalic.ttf);
}

@font-face {
    font-family: "FiraSans-Bold";
    src: url(../fonts/FiraSans-Bold.ttf);
}

@font-face {
    font-family: "FiraSans-Italic";
    src: url(../fonts/FiraSans-Italic.ttf);
}

@font-face {
    font-family: "FiraSans-Light";
    src: url(../fonts/FiraSans-Light.ttf);
}

@font-face {
    font-family: "FiraSans-Regular";
    src: url(../fonts/FiraSans-Regular.ttf);
}

@font-face {
    font-family: "FiraSans-Thin";
    src: url(../fonts/FiraSans-Thin.ttf);
}

@font-face {
    font-family: "FiraSans-ThinItalic";
    src: url(../fonts/FiraSans-ThinItalic.ttf);
}

/*dotted=linea punteada mas corta, 
dashed=linea punteada, 
double=linea doble,
groove = borde un poco salido,
ridge = invertido de groove,
inset = por dentro,
outset = efecto contrario de inset,
hidden = oculto
none*/

a{
    text-decoration: none !important;
}
#encabezado{
    
    border: solid #DE423A; 
    border-width:5px;
    border-radius:8px ;
    /*background-image: linear-gradient(#ffffff, #f7a6a2);*/
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    background-position: right top;
    opacity: 0.9;
    height: 300px;
    
}
#login{
    background-image: url(../images/menu.jpg);
    background-size: cover;}
.titulo {
    font-family: 'Dunkin'; 
    color: #ff0d00;
    opacity: 1;
    font-size: 45px;
   
 }
.font_dunkin {
    font-family: 'Dunkin'; 
    opacity: 1;
    font-size: 15px;
}
 .nav-item:hover{
    color: #DE423A;
 }

#menu{
    background-color: #e0655f;
}

#login{
    background-color:#DE423A ;
    color: antiquewhite;
}

#registro{
    border: 1px solid #DE423A;
}

.row nav#principal a{
    
    display:block;
    padding: 10px;
    
}

.row nav#secundaria a{
   
    display:block;
    padding: 10px;
    
}

#navbarToggleExternalContent ul li > a{
    color: aliceblue;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #subtitulo h1{
    font-family: "Mat Saleh";
    color: #e0655f;
  }